body {
    background:#000;
    color: #c3c3c3;
    padding-top: 75px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.table_container {
    padding-top: 75px;
    margin-top: -75px;
    margin-bottom: 75px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #343a40;
}

.navbar-nav > li > .dropdown-menu > a {
    color: #FFF;
}

.navbar-nav > li > .dropdown-menu > a:hover {
    color: #000;
}

/* remove silly tbody top border from bs5 :/ */
.table > :not(:first-child) {
    border-top: 0;
}

/* reset padding back to what it was like in bs4 */
.table > :not(caption) > * > * {
    padding: 0.75rem;
}

div.table_container[data-hide="hide"] {
    display: none;
}

.activity_table th {
    font-size: 1.5em;
}

.activity_table thead td {
    text-align:right;
}

.activity_table td.activity_name {
    padding:0;
    height: 100%;
    width: 70%;
    min-height:69px;
    position:relative;
}

.activity_table td.activity_name a,
.activity_table td.activity_name a:active,
.activity_table td.activity_name a:link,
.activity_table td.activity_name a:visited {
    color: #FFF;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 1rem;
    line-height: 1rem;
    text-decoration: none;
}

.activity_table td.activity_name a:hover {
    text-decoration: underline;
    color: #4083ca;
}

.activity_table td.activity_color {
    cursor: pointer;
}

.activity_table td.activity_name button.hide-button {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.activity_table tbody tr:hover td.activity_name button.hide-button {
    display: inline-block;
}

.activity_table td.activity_color a,
.activity_table td.activity_color a:active,
.activity_table td.activity_color a:link,
.activity_table td.activity_color a:visited {
    color: #FFF;
    text-decoration: underline;
}

.activity_table td.activity_color a:hover {
    color: #4083ca;
}

.activity_table tr[data-completed="hide"] {
    display: none;
    visibility: hidden;
}

.activity_table tr[data-completed="true"] .activity_color {
    background-color: #163600;
    box-shadow: inset 0 0 0 9999px #163600;
}

.activity_table tr:hover[data-completed="true"] .activity_color {
    background-color: #102700;
    box-shadow: inset 0 0 0 9999px #102700;
}

.activity_table tr[data-completed="false"] .activity_color {
    background-color: #590505;
    box-shadow: inset 0 0 0 9999px #590505;
}

.activity_table tr:hover[data-completed="false"] .activity_color {
    background-color: #3b0404;
    box-shadow: inset 0 0 0 9999px #3b0404;
}

.item_icon {
    height:16px;
    width:16px;
}

.countdown {
    font-size: 1rem;
    white-space: nowrap;
}

.dragover {
    opacity: 0.4;
    border: 3px dotted #666;
}

footer {
    text-align:center;
}

footer a,
footer a:active,
footer a:link,
footer a:visited {
    color:#777;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a img {
    height: 16px;
    width: 16px;
}

@media (max-width: 767px) {
    .activity_table td.activity_name {
        width: 50%;
    }

    .activity_table a {
        text-decoration: underline;
    }
}

@media (min-width:768px) {
    .activity_table td.activity_name {
        width: 60%;
    }
}

@media (min-width:992px) {
    .activity_table td.activity_name {
        width: 66%;
    }
}
