body {
    background:#000;
    color: #c3c3c3;
    padding-top: 75px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.table_container {
    padding-top: 75px;
    margin-top: -75px;
    margin-bottom: 75px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #343a40;
}

.navbar-nav > li > .dropdown-menu > a {
    color: #FFF;
}

.navbar-nav > li > .dropdown-menu > a:hover {
    color: #000;
}

/* remove silly tbody top border from bs5 :/ */
.table > :not(:first-child) {
    border-top: 0;
}

/* reset padding back to what it was like in bs4 */
.table > :not(caption) > * > * {
    padding: 0.75rem;
}

.activity_table th {
    font-size: 1.5em;
}

.activity_table td.activity_name {
    padding:0;
    height: 100%;
    width: 70%;
    min-height:69px;
    position:relative;
}

.activity_table td.activity_name a,
.activity_table td.activity_name a:active,
.activity_table td.activity_name a:link,
.activity_table td.activity_name a:visited {
    color: #FFF;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 1rem;
    line-height: 1rem;
    text-decoration: none;
}

.activity_table td.activity_name a:hover {
    text-decoration: underline;
    color: #4083ca;
}

.activity_table td.activity_colour {
    cursor: pointer;
}

.activity_table td.activity_colour a,
.activity_table td.activity_colour a:active,
.activity_table td.activity_colour a:link,
.activity_table td.activity_colour a:visited {
    color: #FFF;
    text-decoration: underline;
}

.activity_table td.activity_colour a:hover {
    color: #4083ca;
}

.activity_table tr[data-completed="true"] .activity_colour {
    background-color: #163600;
    box-shadow: inset 0 0 0 9999px #163600;
}

.activity_table tr:hover[data-completed="true"] .activity_colour {
    background-color: #102700;
    box-shadow: inset 0 0 0 9999px #102700;
}

.activity_table tr[data-completed="false"] .activity_colour {
    background-color: #590505;
    box-shadow: inset 0 0 0 9999px #590505;
}

.activity_table tr:hover[data-completed="false"] .activity_colour {
    background-color: #3b0404;
    box-shadow: inset 0 0 0 9999px #3b0404;
}

.countdown {
    font-size: 1rem;
    white-space: nowrap;
}

footer {
    text-align:center;
}

.muted a {
    color:#777;
}

@media (max-width: 767px) {
    .activity_table td.activity_name {
        width: 50%;
    }

    .activity_table a {
        text-decoration: underline;
    }
}

@media (min-width:768px) {
    .activity_table td.activity_name {
        width: 60%;
    }
}

@media (min-width:992px) {
    .activity_table td.activity_name {
        width: 66%;
    }
}
