body {
    background:#000;
    color: #c3c3c3;
}

footer {
    text-align:center;
}

.taskName {
    width: 70%;
}

.clickzone {
    cursor: pointer;
}

.completed {
    background-color: #163600;
}

.uncompleted {
    background-color: #7D0A0A;
}

.even_row {
    background-color: #111;
}

.muted a {
    color:#777;
}